---
layout: base
---

<h1>Asobou</h1>

<p>Bonjour et bienvenue sur le site d'Asobou !</p>

{% assign japanVideos = site.Japon %}
{% assign latestJapanVideo = japanVideos[-2] %}
{% assign gameVideos = site.Jeux %}
{% assign latestGameVideo = gameVideos[-2] %}

<div id="videoContainer">
  <div id="latestJapanVideo">
    <h2>Dernière vidéo sur le Japon</h2>

    {% if latestJapanVideo.video_id != null %}
    {% include video.html video_id=latestJapanVideo.video_id %}
    {% endif %}
  </div>

  <div id="latestGameVideo">
    <h2>Dernière vidéo sur les jeux</h2>

    {% if latestGameVideo.video_id != null %}
    {% include video.html video_id=latestGameVideo.video_id %}
    {% endif %}
  </div>
</div>