html, body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
}

body {
  background-image: url($backgroundImage);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.wrapper {
  max-width: 1080px;
  margin: auto;
  padding: 0 2em;
  box-sizing: border-box;
}

h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 3em;
  margin: 0.5em 0 0.3em;
}

a {
  color: $mainColor;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

#videoContainer {
  display: flex;
  justify-content: space-between;
}

#latestJapanVideo,
#latestGameVideo {
  background-color: $mainColor;
  width: 49%;
  padding: 1em;
  box-sizing: border-box;
  border-radius: 10px;
  display:inline-block;

  h2 {
    color: white;
    margin: 0 0 0.5em;
  }

  iframe {
    max-width: 100%;
  }
}