html, body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
}

body {
  background-image: url($backgroundGradient), url($backgroundPattern);
  background-position: center center, center center;
  background-repeat: repeat-y, repeat;
  background-size: contain, auto;
}

.wrapper {
  max-width: 1080px;
  margin: auto;
  padding: 0 2em;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Amatic SC', cursive;
  margin: 0.5em 0 0.3em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

a {
  color: $mainColor;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

#logo {
  text-align: center;
  margin: 1em auto;

  img {
    max-width: 100%;
  }
}

#videoContainer {
  display: flex;
  justify-content: space-between;
}

#latestJapanVideo,
#latestGameVideo {
  background-color: $mainColor;
  width: 49%;
  padding: 1em;
  box-sizing: border-box;
  border-radius: 10px;
  display:inline-block;
  color: white;

  h2 {
    margin: 0 0 0.5em;
  }

  iframe {
    max-width: 100%;
  }

  p {
    margin: 0;
  }
}

.video-nav {
  display: flex;
  justify-content: space-between;

  .previous,
  .next {
    display: inline-block;
    background-color: $mainColor;
    color: white;
    font-size: 1.4em;
    padding: 0.4em 2em;
    border-radius: 3px;
  }
  
}