@media screen and (max-width: 1920px) {
    
    body {
        background-size: auto, auto;
    }
    
}

@media screen and (max-width: 900px) {

    #videoContainer {
        flex-direction: column;
    }

    #latestJapanVideo,
    #latestGameVideo {
        width: auto;
        margin-bottom: 1em;
    }

    .video-block {
        width: calc(50% - 0.5em);
    }

    .gameVideo {
        flex-direction: column;

        .description {
            margin: 0 1em;
            border-radius: 0 0 5px 5px;
            border-left: $secondaryColor 1px solid;
            border-top: none;
            box-shadow: 0 15px 10px -10px #ddd;
        }
    }

}

@media screen and (max-width: 640px) {
    
    .video-block {
        width: 100%;
    }

}