@media screen and (max-width: 1920px) {
    
    body {
        background-size: auto, auto;
    }
    
}

@media screen and (max-width: 900px) {

    #videoContainer {
        flex-direction: column;
    }

    #latestJapanVideo,
    #latestGameVideo {
        width: auto;
        margin-bottom: 1em;
    }

}