---
---

$mainColor: #a01b16;
$secondaryColor: #e1e0ab;
$backgroundGradient: "{{ "/assets/img/backgroundGradient.png" | relative_url }}";
$backgroundPattern: "{{ "/assets/img/backgroundPattern.png" | relative_url }}";

@import "fonts";

@import "main";

@import "navigation";
@import "footer";

@import "video-block";
@import "video_content";

@import "responsive";